{% extends 'main/layout.html' %}

{% block title %}
    {{title}}
{% endblock  %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae vero impedit laudantium sit? Earum incidunt aliquid amet totam! Fuga doloremque eaque possimus nisi saepe eligendi suscipit velit delectus rem accusantium.</p>
        <a href="{% url 'about' %}" class='btn btn-warning'>Все самое важное обо мне</a>
        {% for el in values %}
            <p>{{el|upper}}</p> 
        {% endfor %}

        {% for el in obj %}
            <p>{{el}}</p>
        {% endfor %}
    </div>
{% endblock  %}